
@{
    ViewBag.Title = "Index";
}

<section>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="~/Content/Image/carouselfourth.png" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="~/Content/Image/carouselsecond.png" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="~/Content/Image/carouselthird.png" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class="card-outer-container">
        <div class="card-inner-container d-flex">
            <div class="card-content">
                <a href="/Home/Detail"><img src="~/Content/Image/t-shirtb.jpg" alt="#" style="width:100%"></a>
                <h1>T-Shirt</h1>
                <p class="price">149.99</p>
                <p>Some information about the product.</p>
                <p><button>Add to Cart</button></p>
            </div>
            <div class="card-content">
                <a href="#"><img src="~/Content/Image/t-shirts.jpg" alt="#" style="width:100%"></a>
                <h1>T-Shirt</h1>
                <p class="price">149.99</p>
                <p>Some information about the product.</p>
                <p><button>Add to Cart</button></p>
            </div>
            <div class="card-content">
                <a href="#"><img src="~/Content/Image/t-shirtm.jpg" alt="#" style="width:100%"></a>
                <h1>T-Shirt</h1>
                <p class="price">149.99</p>
                <p>Some information about the product.</p>
                <p><button>Add to Cart</button></p>
            </div>
            <div class="card-content">
                <a href="#"><img src="~/Content/Image/t-shirtz.jpg" alt="#" style="width:100%"></a>
                <h1>T-Shirt</h1>
                <p class="price">149.99</p>
                <p>Some information about the product.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
    </div>
</section>
